{:paths
 ["src/main/clojure" "src/main/java" "target/classes"]

 :deps
 {
  org.clojure/clojure       {:mvn/version "1.13.3"}
  io.kosong.adk/adk-clojure {:local/root "../core"}
  }

 :aliases
 {:build {:deps       {io.github.clojure/tools.build {:mvn/version "0.10.10"}}
          :ns-default build}}}