{:paths
 ["src/main/clojure" "src/main/java" "target/classes"]

 :deps
 {
  org.clojure/clojure       {:mvn/version "1.12.3"}
  io.kosong.adk/adk-clojure {:local/root "../core"}
  }

 :aliases
 {:build
  {:deps       {io.github.clojure/tools.build {:mvn/version "0.10.10"}}
   :ns-default build}

  :deploy
  {:extra-deps {slipset/deps-deploy {:mvn/version "0.2.2"}}
   :exec-fn    deps-deploy.deps-deploy/deploy
   :exec-args  {:installer      :remote
                :sign-releases? true
                :pom-file       "target/classes/META-INF/maven/io.kosong.adk/adk-clojure-experimental/pom.xml"
                :artifact       "target/adk-clojure-experimental-0.1.0-SNAPSHOT.jar"}}

  :install
  {:extra-deps {slipset/deps-deploy {:mvn/version "0.2.2"}}
   :exec-fn    deps-deploy.deps-deploy/deploy
   :exec-args  {:installer      :local
                :sign-releases? true
                :pom-file       "target/classes/META-INF/maven/io.kosong.adk/adk-clojure-experimental/pom.xml"
                :artifact       "target/adk-clojure-experimental-0.1.0-SNAPSHOT.jar"}}

  }}